.my-center .header {
    background-image: url(http://static.huruqing.cn/villa/avtBg.jpg);
    color: #fff;
    height: 120px;
  }
  .my-center .avatar {
    width: 80px;
    height: 80px;
    overflow: hidden;
  }
  .my-center .avatar .iconfont {
    font-size: 80px;
    color: #ff8200;
  }
  .my-center .item {
    height: 45px;
    border-bottom: 1px solid #eee;
  }
  .my-center .arraw {
    width: 20px;
  }
span{
  color: black;
}  
.dsn{
  display: none;
}